@import '../../styles/styles';

.about {
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: column;

  &__article {
    width: 100%;
    height: auto;
    padding: 5rem 0;
    background-color: $color-secondary;

    display: flex;
    justify-content: center;
    align-items: center;

    @media only screen and (max-width: $bp-small) {
      flex-direction: column;
    }

    &--landscape {
      flex-direction: column-reverse;
    }
  }

  &__text {
    width: 40rem;
    height: auto;
    padding: 2rem;
    border-radius: 5px;
    background-color: rgba(white, 0.9);
    z-index: 2;
    margin-right: -2rem;
    box-shadow: $shadow-image;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    @media only screen and (max-width: $bp-small) {
      width: 80%;
      align-items: center;
      margin-right: 0;
      margin-bottom: -10rem;
    }

    p {
      width: 100%;
    }

    &--landscape {
      margin-top: -5rem;
      margin-bottom: 0;
      align-items: center;
    }
  }

  &__image {
    height: 40rem;
    width: auto;
    z-index: 1;
    outline: 1rem solid white;

    @media only screen and (max-width: $bp-small) {
      width: 90%;
      height: auto;
    }
  }

  &__signature {
    margin: 5rem 0;
    width: 50rem;
    align-self: center;

    @media only screen and (max-width: $bp-small) {
      width: 80%;
    }
  }
}
