@import '../../styles/styles';

.image {
  height: auto;
  width: 80%;

  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;

  &__small {
    width: 60%;
  }

  &__right {
    border-top-left-radius: 1rem;
    border-top-right-radius: 10rem;
  }

  &__left {
    border-top-left-radius: 10rem;
    border-top-right-radius: 1rem;
  }

  @media only screen and (max-width: $bp-medium) {
    width: 90%;
  }
}
