@import '../../styles/styles';

.image {
  height: auto;
  width: 50rem;

  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;

  &__big {
    width: 70rem;
  }

  &__small {
    width: 30rem;
  }

  &__right {
    border-top-left-radius: 1rem;
    border-top-right-radius: 10rem;
  }

  &__left {
    border-top-left-radius: 10rem;
    border-top-right-radius: 1rem;
  }

  @media only screen and (max-width: $bp-large) {
    width: 90%;
  }

  @media only screen and (max-width: $bp-small) {
    width: 90%;
  }
}
