@import '../../styles/styles';

.button--menu {
  display: none;
  height: 4rem;
  width: 4rem;
  background-color: white;
  border: none;

  display: flex;
  justify-content: center;
  align-items: center;
}

.btn--right {
  align-self: end;
}

.button--mobile {
  display: none;

  @media only screen and (max-width: $bp-small) {
    display: block;
  }
}

.button--cta {
  height: auto;
  width: auto;
  padding: 2rem;
  border-radius: 15px;
  font-size: 2rem;
  letter-spacing: 1.5px;
  font-weight: 600;
  background-color: $color-primary;
  color: white;
  text-decoration: none;
  border: 2px solid $color-primary;
  cursor: pointer;
}

.button--close {
  height: 4rem;
  width: 4rem;
  cursor: pointer;
  border: 2px solid $color-dark;
  border-radius: 5px;
  background-color: $color-tertiary;
  transition: all 0.2s ease-in;

  display: flex;
  justify-content: center;
  align-items: center;

  &__icon {
    height: 5rem;
    width: 5rem;
  }
}
.button--close:hover {
  background-color: red;
}

.carousel--btn {
  height: 6rem;
  width: 6rem;
  border-radius: 5px;
  margin: 0 2rem;
  border: 2px solid $color-dark;
  cursor: pointer;
  padding: 2rem 0;
  background-color: $color-tertiary;
  align-self: center;

  display: flex;
  justify-content: center;
  align-items: center;

  @media only screen and (max-width: $bp-small) {
    position: absolute;
    border: 2px solid rgba($color-dark, 0);
    background-color: rgba($color-tertiary, 0.5);
  }

  &__icon {
    height: 4rem;
    width: 4rem;
  }

  &__right {
    right: 0;
  }
  &__left {
    left: 0;
  }
}
