@import '../../styles/styles';

.button--menu {
  display: none;
  height: 4rem;
  width: 4rem;
  background-color: white;
  border: none;

  display: flex;
  justify-content: center;
  align-items: center;
}

.btn--right {
  align-self: end;
}

.button--mobile {
  display: none;

  @media only screen and (max-width: $bp-small) {
    display: block;
  }
}
