@import '../../styles/styles';

.button--menu {
  display: none;
  height: 4rem;
  width: 4rem;
  background-color: white;
  border: none;

  display: flex;
  justify-content: center;
  align-items: center;
}

.btn--right {
  align-self: end;
}

.button--mobile {
  display: none;

  @media only screen and (max-width: $bp-small) {
    display: block;
  }
}

.button--cta {
  height: auto;
  width: auto;
  padding: 2rem;
  border-radius: 15px;
  font-size: 2rem;
  letter-spacing: 1.5px;
  font-weight: 600;
  background-color: $color-primary;
  color: white;
  text-decoration: none;
  border: 2px solid $color-primary;
  cursor: pointer;
  // box-shadow: $shadow-image;
}

.button--close {
  height: 5rem;
  width: auto;
  color: $color-dark;
  cursor: pointer;
  border: 1px solid $color-dark;
  border-radius: 5px;
  background-color: white;
  font-size: 2.5rem;
  padding: 1rem 2rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

.button--modal {
  height: 10rem;
  width: 4rem;
  cursor: pointer;
  background-color: white;
  border-radius: 5px;
  border: 1px solid $color-dark;
  color: $color-dark;

  @media only screen and (max-width: $bp-small) {
    width: 3rem;
  }
}
