@import '../../styles/styles';

.album-page {
  height: 20rem;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  &__container {
    height: auto;
    width: 100%;
    padding: 3rem 1rem;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;

    @media only screen and (max-width: $bp-small) {
      flex-wrap: nowrap;
      overflow-x: scroll;
      scroll-snap-type: x mandatory;
      padding-left: 2rem;
      justify-content: flex-start;
    }
  }

  &__img {
    height: 35rem;
    width: auto;
    border-radius: 5px;
    box-shadow: $shadow-image;

    @media only screen and (max-width: $bp-small) {
      height: auto;
      width: 95%;
    }
  }
}
