@import '../../styles/styles';

.boxes {
  height: auto;
  width: 100%;
  margin: 5rem 0;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  gap: 1rem;
}
