@import '../../styles/styles';

.container {
  width: 100%;
  height: 60rem;
  margin: 5rem 0;

  display: flex;

  @media only screen and (max-width: $bp-large) {
    height: 40rem;
  }
  @media only screen and (max-width: $bp-small) {
    flex-direction: column;
    height: fit-content;
  }
}
