@import '../../../styles/styles';

.album-welcome {
  height: 50rem;
  width: 100%;
  clip-path: polygon(0 0, 100% 0, 100% 88%, 0% 100%);
  background-color: #fefae0; //trebuie salvat

  display: flex;

  @media only screen and (max-width: $bp-small) {
    flex-direction: column;
    height: auto;
  }

  &__container {
    height: 100%;
    width: 60%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media only screen and (max-width: $bp-small) {
      height: auto;
      width: 100%;
      padding-top: 5rem;
    }

    p {
      width: 50%;

      @media only screen and (max-width: $bp-medium) {
        width: 70%;
      }
    }
  }

  &__box {
    height: 100%;
    width: 40%;

    background-color: #fde4cf; //trebuie salvat

    display: flex;
    justify-content: flex-start;
    align-items: center;

    @media only screen and (max-width: $bp-small) {
      height: 28rem;
      width: 100%;
      align-items: flex-start;
    }
  }

  &__wallpaper {
    height: 35rem;
    width: 30rem;
    margin-right: -10rem;
    margin-top: 5rem;
    z-index: 1;

    border-top-left-radius: 50%;
    border-top-right-radius: 50%;

    @media only screen and (max-width: $bp-small) {
      margin-top: 3rem;
      margin-right: 0;
      margin-bottom: -3rem;
    }
  }

  &__picture {
    height: 30rem;
    width: auto;
    margin-left: 10rem;
    margin-bottom: -5rem;
    outline: 5px solid white;
    box-shadow: $shadow-image;
    z-index: 2;

    @media only screen and (max-width: $bp-medium) {
      height: 25rem;
      margin-left: 3rem;
      margin-bottom: 0;
      margin-top: -5rem;
    }
  }
}
