// Font type
@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600;900&display=swap');

// $font-primary: 'Italiana', serif;
$font-primary: 'Playfair Display', serif;

// Breakpoints
$bp-4k: 156em; // 2500px
$bp-largest: 75em; // 1200/16 = 75em
$bp-large: 68.75em; // 1100px
$bp-medium: 56.25em; // 900px
$bp-small: 37.5em; // 600px
$bp-smallest: 31.25em; // 500px

// Colors
$color-primary: #e1b692;
$color-dark: #333;

// Temp
.h {
  font-family: $font-primary;
  font-weight: 100;
}
.h-xLarge {
  font-size: 5rem;
}
.h--big {
  font-size: 4.5rem;
}
.h-large {
  font-size: 3.5rem;
}
.h--small {
  font-size: 2rem;
}

.p {
  font-size: 2rem;
  letter-spacing: 1.4px;
  font-family: $font-primary;
}

.mb-2 {
  margin-bottom: 2rem;
}

// Logo
.logo {
  width: 30rem;
  margin-top: 5rem;
}
.icon {
  width: 3.5rem;
}

.social-link {
  min-height: 4.5rem;
  width: 21rem;
  border-radius: 10px;
  padding: 0 1rem;
  border: 1px solid black;
  text-decoration: none;
  color: #333;
  font-size: 2rem;

  display: flex;
  align-items: center;
  gap: 1rem;
}
