@import '../../styles/styles';

.navigation {
  height: 5rem;
  width: 100%;
  padding: 0 10rem;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5rem;

  @media only screen and (min-width: $bp-4k) {
    justify-content: center;
    height: 10rem;
    padding: 0;
    gap: 10rem;
  }
  @media only screen and (max-width: $bp-medium) {
    padding: 0 5rem;
  }

  @media only screen and (max-width: $bp-small) {
    justify-content: end;
    padding: 1rem 2rem;
    margin-top: 2rem;
  }

  &__link {
    text-decoration: none;
    font-size: 2rem;
    font-family: $font-primary;
    color: $color-dark;

    @media only screen and (max-width: $bp-small) {
      display: none;
    }

    &--mobile {
      font-size: 3rem;
      margin-bottom: 1rem;
      width: 100%;
      text-align: center;
      display: block;
    }
  }
}
