@import '../../styles/styles';

.modal {
  height: 50rem;
  width: 80%;
  margin: 10rem 0;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;

  @media only screen and (max-width: $bp-medium) {
    width: 100%;
  }
  @media only screen and (max-width: $bp-small) {
    margin: 1rem 0;
    height: 50%;
  }

  &__image {
    width: 30%;

    @media only screen and (max-width: $bp-small) {
      width: 48%;
    }
  }
}
