@import '../../styles/styles';

.portofoliu {
  height: auto;
  width: 92rem;
  // margin: 0;
  padding: 0.5rem;
  box-shadow: $shadow-image;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.5rem;

  @media only screen and (max-width: $bp-medium) {
    width: 100%;
  }
  @media only screen and (max-width: $bp-small) {
    margin: 1rem 0;
    height: 50%;
  }

  &__image {
    width: 32.8%;

    @media only screen and (max-width: $bp-small) {
      width: 49.2%;
    }
  }
}
