@import '../../styles/styles';

.header {
  width: 100%;
  height: auto;
  padding: 0 0.5rem;
  margin-bottom: 10rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5rem;

  @media only screen and (min-width: $bp-4k) {
    width: 150rem;
    margin: 0 auto;
    height: auto;
    padding: 10rem 0;
  }
  @media only screen and (max-width: $bp-small) {
    flex-direction: column;
    margin-bottom: 5rem;
  }

  &__box {
    height: 50rem;
    width: 50%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;

    @media only screen and (max-width: $bp-medium) {
      height: 35rem;
    }
    @media only screen and (max-width: $bp-small) {
      height: fit-content;
      width: 100%;
      padding: 0 1rem;
      margin-top: 1rem;
    }
  }

  &__image {
    width: 80%;
    height: auto;
    border-top-left-radius: 10rem;
    border-top-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    box-shadow: $shadow-image;

    @media only screen and (max-width: $bp-small) {
      width: 95%;
    }
  }
}
