@import '../../styles/styles';

.about-page {
  height: 100vh;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  @media only screen and (max-width: $bp-medium) {
    flex-direction: column;
    height: auto;
  }

  &__container {
    height: 100%;
    width: 60%;
    padding-left: 20rem;
    padding-right: 5rem;

    display: flex;
    flex-direction: column;
    justify-content: center;

    @media only screen and (max-width: $bp-large) {
      padding-left: 10rem;
      padding-right: 3rem;
    }
    @media only screen and (max-width: $bp-medium) {
      width: 100%;
      height: auto;
      margin-top: 5rem;
      padding: 0 10rem;
    }
    @media only screen and (max-width: $bp-small) {
      width: 100%;
      height: auto;
      margin-top: 5rem;
      padding: 0 2rem;
    }
  }

  &__container > h1:last-child {
    margin-left: 3rem;
  }
  &__container > article {
    margin-left: 5rem;
  }

  &__logo {
    height: auto;
    width: 35rem;
    align-self: flex-end;
  }

  &__box {
    height: 100%;
    width: 40%;

    display: flex;
    justify-content: flex-start;
    align-items: center;

    @media only screen and (max-width: $bp-medium) {
      width: 100%;
      height: auto;
      padding: 0 10rem;
      justify-content: center;
      margin-bottom: 5rem;
    }
    @media only screen and (max-width: $bp-small) {
      padding: 0 2rem;
    }
  }

  &__foto {
    height: auto;
    width: 80%;
    outline: 5px solid $color-dark;
    outline-offset: 1rem;

    @media only screen and (max-width: $bp-small) {
      width: 100%;
    }
  }
}
